html {
    padding: 100px;
    padding-top: 0;
}

#canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 50px;
    color:white;
    /*width: 800px;*/
}

a {
    color: #009ECE;
    transition: all 0.5s ease;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

a:hover {
    color: #006666;
    border-bottom: 2px solid #006666
}

.vid {
    margin-left: auto;
    margin-right: auto;
    width: 800;
}

.opener {
    font: normal 20px/30px "Roboto", sans-serif, semi-expanded;
    margin: 10px 10px 20px;
    padding: 20px 20px 20px 20px;
    background-color: #D6DBDF;
}


.title {
    font: bold 36px/30px "Inter", sans-serif, semi-expanded;
    background-color: #85929E;
    padding: 20px 20px 10px 5px
}

.toc-1{
    color:#009ECE;
    outline:none;
    border-bottom: 2px solid transparent;
    margin: 10px 20px;
}
.toc-2{
    color:#009ECE;
    font-size: 15px;
    outline:none;
    border-bottom: 2px solid transparent;
    margin: 10px 40px ;
}

.main-text {
    font: normal 16px/18px "Roboto", sans-serif;
    margin: 10px 20px 100px;
    padding: 20px 20px 20px 20px;
}

.block-container {
    display: flex;
    #background-color: #85929E;
    flex-flow: row wrap;
    justify-content: center;
}

.block-container > div {
    background-color: #f1f1f1;
    color: black;
    margin:10px;
    padding: 10px;
}
